
@{
    Layout = null;
    if (Session["UserID"]==null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="nav"> 
        
        @Html.Label("   Welcome ");
        @Session["Username"].ToString(); 
        <a href="@Url.Action("Index", "AddRecord")">Add New Record</a>
        <a href="@Url.Action("Log", "Login")">Logout   </a>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
